# Incolla qui le tue chiavi di configurazione del progetto Firebase.
# Puoi trovarle nella console di Firebase, nelle impostazioni del tuo progetto web.

VITE_FIREBASE_API_KEY="TUO_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="TUO_AUTH_DOMAIN"
VITE_FIREBASE_PROJECT_ID="TUO_PROJECT_ID"
VITE_FIREBASE_STORAGE_BUCKET="TUO_STORAGE_BUCKET"
VITE_FIREBASE_MESSAGING_SENDER_ID="TUO_MESSAGING_SENDER_ID"
VITE_FIREBASE_APP_ID="TUO_APP_ID"
