# CIAO. File per ignorare file e cartelle non necessarie o sensibili

# Dipendenze
/node_modules

# File di build
/dist
/build

# Log e file di debug
npm-debug.log
yarn-debug.log
yarn-error.log
firebase-debug.log

# File di ambiente - NON COMMETTERE MAI QUESTI FILE
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File specifici dell'IDE
.vscode/
.idea/

# File di sistema operativo
.DS_Store
Thumbs.db

# File di configurazione di Firebase contenente le chiavi API
# Assumiamo che le chiavi siano in questo file, lo creerò se necessario.
src/firebaseConfig.ts

# Archivi compressi
*.tar.gz
