# Dipendenze
node_modules/
**/node_modules/

# Build e Output
dist/
lib/
**/lib/
*.log
firebase-debug.log*
firestore-debug.log*
functions-debug.log*

# Ambiente e Segreti
.env
.env.local
.env.*.local

# IDE
.vscode/
.idx/
.idea/
.DS_Store

# Firebase
.firebase/
.runtimeconfig.json