rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Le anagrafiche sono leggibili da chiunque sia autenticato
    match /anagrafiche/{doc} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /clienti/{doc} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /navi/{doc} {
      allow read: if request.auth != null;
      allow write: if false;
    }
     match /porti/{doc} {
      allow read: if request.auth != null;
      allow write: if false;
    }
     match /tariffe/{doc} {
      allow read: if request.auth != null;
      allow write: if false;
    }
     match /tipoGiornata/{doc} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // I rapportini sono leggibili e scrivibili solo dal proprietario
    match /rapportini/{rapportinoId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    // Le impostazioni sono leggibili da tutti gli utenti autenticati
    match /impostazioni/v1 {
        allow read: if request.auth != null;
        allow write: if false;
    }
  }
}