rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permesso universale di lettura per utenti autenticati (necessario per menu, profili, etc)
    match /{document=**} {
      allow read: if request.auth != null;
    }
    // Sblocca i rapportini
    match /rapportini/{id} {
      allow read, write: if request.auth != null;
    }
    // Sblocca DEFINITIVAMENTE le notifiche (Sincro Master)
    // Permette delete e update a tutti gli utenti autenticati per evitare il blocco degli array to_ids
    match /notificheRichieste/{id} {
      allow read, create, update, delete: if request.auth != null;
    }
    // Permessi per i tecnici
    match /tecnici/{id} {
      allow read, write: if request.auth != null;
    }
  }
}